/*Nav, header*/
.title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1bc51b;
    border-bottom: solid 10px pink;
    
}

.title img
{
    height: 5em;
}
nav a
{
    display: none;
}
.show a
{
    display: block;
}
.show
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    background-color: pink;
}
/*Buttons*/
#menu
{
    display:flex;
    justify-content: flex-end;
    color:black;
    font-size:xxx-large;
    text-decoration: none;
    margin-right: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}
#grid, #list
{
    display: none;
}

#menu::before {
	content: "≡";
}
#menu.show::before {
	content: "X";
}

/*main*/
.hero
{
    display: flex;
    justify-content: center;
    background-color: pink;
    width: 100%;
    border-radius: 4px;
    overflow-x: hidden;
}
.center h2
{
    display: flex;
    justify-content: center;
}
a:any-link
{
    color: blue;
}
/*Call to action*/
.action
{
    display: flex;
    justify-content: center;
}
.action h2
{
    background-color: #1bc51b;
    border-radius: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    border: 1px solid black;
}
/*Events*/
.events
{
    background-color: rgb(153, 216, 255);
    border: solid 1px black;
    margin-bottom: 1em;
    border-radius: 20px;
}
.events h2, .events h3
{
    display: flex;
    justify-content: center;
}
/*Weather*/
.weather 
{
    border: solid 1px black;
    
    border-radius: 20px;
    background-color: pink;
    border-bottom: rgb(153, 216, 255) solid 12px;
}
.weather h2
{
    display: flex;
    justify-content: center;
}
.display
{
    display: flex;
    justify-content: center;
}
#description
{
    display: flex;
    justify-content: center;
}

/*business cards*/
ul
{
    list-style: none;
}
.business li
{
    background-color: pink;
    border: solid 1px black;
    border-radius: 6px;
    border-bottom: solid 10px #1bc51b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -2.5em;
    
}
.business li h3
{
    text-decoration: underline;
}
.business li img
{
    height: 12em;
}
/*footer*/
footer
{
    background-color: #1bc51b;
    border-top: solid 10px pink;
    padding-bottom: 5px;
}
footer p
{
    display: flex;
    justify-content: center;
}