@media screen and (min-width: 750px)
{
    /*Header*/
    .title
    {
        justify-content: flex-start;
        border-bottom: 0px;
    }
    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1bc51b;
        border-bottom: solid 10px pink;
    }
    #menu
    {
        display: none;
    }
    nav
    { 
        display: flex;
    }
    nav a
    {
        display: flex;
        margin: 10px;
        padding: 10px;
    }
    nav a:hover
    {
        background-color: pink;
        color: black;
    }
    /*Main*/
    .form
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    form
    {
        margin-left: 25%;
    }
    .modal
    {
        position: relative;         
        animation: rise 1s ease-out forwards;
    }
    @keyframes rise {
    from {
            transform: translateY(100vh); 
            opacity: 0;                   
        }
    to {
            transform: translateY(0);     
            opacity: 1;
        }
    }

}