/*PAGE BACKGROUND*/
body
{
    background-color: #212121;
}
/*HEADER*/
header
{
    display: flex;
    background-color: rgb(104, 52, 15);
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title
{
    display: flex;
    align-items: center;
}
.title img
{
    height: 50px;
}
.title h1
{
    margin-left: 0.5em;
}


/*HAMBURGER BUTTON*/
nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;         
    margin: 0 auto;      
}
#menu::before
{
    content: "≡";
}

#menu.show::before
{
    content: "X";
}
#menu
{
    font-size: xxx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* WHEN MENU IS SHOWN */
nav.show {
    display: flex;                /* show nav */
    justify-content: center;      /* center vertically */
    align-items: center;          /* center horizontally */
    order: 2;                     /* move below title/menu */
    background-color: #CFAF7B;        
    flex-direction: column;
    width: 100%;
}

nav.show a {
    display: block;
    font-size: xx-large;
    color: black;
    padding: 10px;

}


/*MAIN*/
.hero
{
    display: flex;
    justify-content: center;
    background-color: #200B02;
    border-radius: 8px;
}
.hero img
{
    border-radius: 12px;
}
.intro
{
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;

}
/*WAVES*/
.wave1
{
    background-color: #200B02;
    height: 25px;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
}
.wave2
{
    background-color: rgb(161, 82, 25);
    height: 100px;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    margin-top: -2.5em;
}
.wave3
{
    background-color: #CFAF7B;
    height: 100px;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    margin-top: -2.5em
}
/*CARDS*/
.chocolate
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #200B02;
    color: white;
    font-size: x-large;
    padding-bottom: 50px;
    max-width: 100%;
}
.chocolate p
{
    margin-left: 1%;
    margin-right: 1%;
}
.chocolate .button
{
    margin-left: 10%;
}
.chocolate img
{
    border-radius: 50%;
}
.medialuna
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10em;
    background-color: rgb(161, 82, 25);
}

.medialuna h2, .milkshake h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    font-size: xx-large;
}
.medialuna .button
{
    color: black;
    font-size: xx-large;
}
.button
{
    padding: 15px;
    border: 2px black solid;
    border-radius: 8px;
    background-color: white;
    color: black;
    width: 75%;
    font-size: xx-large;
    text-decoration: underline;
    animation: fade 5s;

}
.milkshake 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #CFAF7B;
    margin-bottom: -1em;
}

.medialuna img
{
    border-radius: 50%;
    max-width: 100%;
}
.milkshake img
{
    border-radius: 50%;
    max-width: 100%;
}
dialog
{
    font-size: xx-large;
}
dialog h2
{
    color: black;
}
dialog li
{
    text-align: left;
}
dialog button
{
    padding: 15px;
    font-size: xx-large;
}
/*FADE IN*/
@keyframes fade 
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
    
}
/*FOOTER*/
footer
{
    background-color: rgb(104, 52, 15);
    color: white;
    margin-bottom: -0.5em;
    padding: 3px;
    margin-top: 1em;
}
footer p
{
    display: flex;
    justify-content: center;
    
}